@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Nunito, system-ui, sans-serif;
  }

  @supports (font-variation-settings: normal) {
    html {
      font-family: NunitoVariable, system-ui, sans-serif;
    }
  }
}

/* Disable initial button load animation */
.btn {
  animation: none;
}