@import "@fontsource-variable/nunito";
@import "@fontsource/carter-one";

@import "maplibre-gl/dist/maplibre-gl.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: system-ui, sans-serif;
  }

  @supports (font-variation-settings: normal) {
    html {
      font-family: "Nunito Variable", system-ui, sans-serif;
    }
  }
}

/* Disable initial button load animation */
.btn {
  animation: none;
}

.checkbox {
  animation: none;
}

/* Override default z-index from daisy ui to allow content "on top"
 * e.g. snackbars
 */
.modal {
  z-index: 40;
}

/* Apply small backdrop blur effect on opened modals to improve readability
*/
.modal-open {
  @apply backdrop-blur-sm;
}

@layer components {
  .title-with-divider {
    @apply divider mt-0 mb-3 divider-start divider-primary text-primary font-bold uppercase;
  }

  .table-hover {
    @apply odd:hover:bg-primary-content even:hover:bg-primary-content;
  }

  .alert {
    @apply font-medium;
  }

  .alert-info {
    @apply border-info bg-info-content text-info dark:bg-info dark:text-info-content;
  }

  .alert-success {
    @apply border-success bg-success-content text-success dark:bg-success dark:text-info-content;
  }

  .alert-warning {
    @apply border-warning bg-warning-content text-warning dark:bg-warning dark:text-info-content;
  }

  .alert-error {
    @apply border-error bg-error-content text-error dark:bg-error dark:text-info-content;
  }
}
  
.display-linebreak {
  white-space: pre-line;
}