body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Showcard Gothic";
  font-display: swap;
  src: url("assets/fonts/showg.ttf") format("truetype");
}
